ion-avatar{
    width: 80px;
    height:  80px;
    background-color: #c0c0c0;
    padding: 5px 0 0 0;
    margin-right: 10px;
}
.collapsmap {
    display: none;
          transition: display 1s;
        transition-timing-function: linear;
     }
     .expanmap{
       display: block;
        transition: display 1s;
        transition-timing-function: linear;
     }
   
.card-dta{ width: 80%;
margin: 5% 10%;
}
.txtright{
    text-align: right;
}
.label {
    padding: 2px 10px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}
.label-warning{background-color: #ffbc34;}
.label-Danger{    background-color: #f62d51;}
.label-success{    background-color: #55ce63;}

.nowrappre{white-space: normal;}

.no-data-found{

    text-align: center;
    color: #999;
    font-size: 26px;
    margin-top: 40px;
}
