

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Student Card </ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
   
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
   
     
    <div [ngClass]="{'expanmap': checked==true,'collapsmap': checked==false}">
    <ion-item color="medium">  
      <ion-label class="input-info-label">Select Batch</ion-label>  
      <ion-select [interfaceOptions]="customPopoverOptions" multiple="true" interface="popover" placeholder="Select One" (ionChange)="changeCourse($event)">  
        <ion-select-option  [value]="batch.id" *ngFor="let batch of batchList">{{batch.name}} </ion-select-option>  
      </ion-select>  
    </ion-item> 
   
  </div>
  </ion-card>



  <ion-card class="card-dta" *ngFor="let studentdata of students">
    <ion-item (click)="doProfile(studentdata.student.uuid)">
      <ion-avatar >
        <img *ngIf="studentdata.student.gender=='male'" src="../../../../assets/img/avatar_male_kid.png">
        <img *ngIf="studentdata.student.gender=='female'" src="../../../../assets/img/avatar_female_kid.png">
      </ion-avatar>
      <ion-label><p>{{studentdata.admission.admission_number}} ({{studentdata.student.age.years+' Year '+studentdata.student.age.months+' Month'}})</p>
        <h3>{{studentdata.student.name}}</h3>
        
        <p> <ion-icon name="school"></ion-icon>
          {{studentdata.batch.course.name+' '+studentdata.batch.name}} 
        </p>
        <span *ngIf='studentdata.entry_remarks =="Seat allotted" ' class="label label-success">Alloted</span>
          <span *ngIf='studentdata.entry_remarks !="Seat allotted" ' class="label label-Danger" >Rejected</span> 
        </ion-label>
    </ion-item>
    <ion-footer>
      <ion-row>
        <ion-col >
         
            {{studentdata.full_roll_number}}
          
        </ion-col>
         
        <ion-col class="txtright" end>
          <button>
          <ion-icon name="call" (click)="Calltonum(studentdata.student.contact_number)"></ion-icon>
            {{studentdata.student.contact_number}}
         </button>
        </ion-col>
      </ion-row>
    </ion-footer>
   
  </ion-card>

  <ng-container *ngIf="students.length == 0 && getResponse == true">
    <p class="no-data-found"> No Result Found</p>
  </ng-container>

  <ng-container *ngIf="students.length != 0 && getResponse == true">
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>



</ion-content>


<!-- <ion-content>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let item of data; let i=index">
      <ion-label>{{i+1}}. {{item.name}}</ion-label>
    </ion-item>
  </ion-list>
  

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->