.rightdiv{ width: 65%; float: right; padding: 2px 0; }
.lftdiv {    width: 35%; padding: 2px 0;    float: left;}
.popover-contentss {    width: 100px;  }
.collapsmap {
 display: none;
       transition: display 1s;
     transition-timing-function: linear;
  }
  .expanmap{
    display: block;
     transition: display 1s;
     transition-timing-function: linear;
  }
  .label {
    padding: 2px 10px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}
  .label-warning{background-color: #ffbc34;}
  .label-Danger{    background-color: #f62d51;}
  .label-success{    background-color: #55ce63;}