<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Time Table </ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin color="primary" class="fw500 no-margin">

        </h2>


      </ion-label>
      <ion-button fill="outline" size="small" color="primary" (click)="checked = !checked;">
        Filter
        <ion-icon src="../../../assets/img/funnel-outline.svg"></ion-icon>
      </ion-button>
    </ion-item>



    <div [ngClass]="{'expanmap': checked==true,'collapsmap': checked==false}">
      <ion-item color="medium">
        <ion-label class="input-info-label">Select Batch</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" multiple="true" interface="popover"
          placeholder="Select One" (ionChange)="changeBatch($event)">
          <ion-select-option [value]="item.id" *ngFor="let item of filter">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color="medium">
        <ion-label class="input-info-label">Date Effective</ion-label>
        <ion-datetime displayFormat="DDDD, MMM DD YYYY" (ionChange)="changeDateEffective($event)"></ion-datetime>
      </ion-item>
    </div>
  </ion-card>



  <ion-list>
    <ng-container *ngIf="timeTableList != undefined && timeTableList.length != 0 ">
      <ion-item *ngFor="let timeTable of timeTableList" lines="full">
        <ion-label>

          <div class="lftdiv">
            <p>
              Batch
            </p>
          </div>
          <div class="rightdiv">
            <p>: {{timeTable.batch.course.name + ' '+ timeTable.batch.name}}</p>
          </div>
          <div class="lftdiv">
            <p>
              Date Effective
            </p>
          </div>
          <div class="rightdiv">
            <p>: {{timeTable.date_effective| date:'dd-MM-yyyy'}}</p>
          </div>
          <div class="lftdiv">
            <p>
              Status
            </p>
          </div>
          <div class="rightdiv">
            <p Class="label label-Danger">0/0 Unallocated</p>
          </div>
          <div class="lftdiv">
            <p>
              Created at
            </p>
          </div>
          <div class="rightdiv">
            <p>: {{timeTable.created_at| date:'dd-MM-yyyy HH:mm'}}</p>
          </div>

          <div class="lftdiv">
            <p>
              Last Updated at
            </p>
          </div>
          <div class="rightdiv">
            <p>: {{timeTable.updated_at| date:'dd-MM-yyyy HH:mm'}}</p>
          </div>
          <div class="lftdiv">
            <p>Description</p>

          </div>
          <div class="rightdiv ion-text-wrap">
            <p *ngIf="timeTable.description == null || timeTable.description == '' ">: N/A</p>
            <p *ngIf="timeTable.description != null && timeTable.description != ''">:{{timeTable.description}}</p>
          </div>
        </ion-label>

      </ion-item>
    </ng-container>

    <ng-container *ngIf="getResponse == true && (timeTableList == undefined || timeTableList.length == 0) ">
      <p class="no-data-found"> No Result Found</p>
    </ng-container>

    <ng-container *ngIf="timeTableList.length != 0 && getResponse == true">
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>



  </ion-list>


</ion-content>