.list-md{
    padding-top:0px;
}

.hidden-item{
  display: none;
}


.caret{
    // margin-top: 13px;
    position: absolute;
    right: 30px;
    transform: rotate(-90deg);
}
.arrow-up{
    transform: rotate(90deg) !important;
}

ion-content{

    --ion-background-color:#2f32a0;
}
 